<?xml version="1.0"?>
<!--
 * app/code/Magenest/Merchant/etc/module.xml
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenest_Merchant" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Eav"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Indexer"/>
            <module name="Magento_Store"/>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
